<!-- navigation bar -->
<nav>
    <ul>
        <li>
            <a href="/" class="nav-link">Home</a>
        </li>
        <li>
            <a href="/host/contact-us" class="nav-link">Add User</a>
        </li>
        <li>
            <a href="/user/user-details">user-details</a>
        </li>
        <li>
            <a href="/user/user-list">user-list</a>
        </li>
        <li>
            <a>appointment</a>
        </li>
    </ul>
</nav>
<br>