<%- include('../partials/head') %>

    <body>
        <header>
            <%- include('../partials/nav') %>
                <h1>Registered User Names</h1>
        </header>
        <main style="max-width: 600px;">
            <ul class="user-list">
                <% registeredHomes.forEach(home=> { %>
                    <li class="user-list-item">
                        <div class="user-list-info">
                            <span class="user-name"><strong>NAME:</strong>
                                <%= home.name %>
                            </span>
                        </div>
                    </li>
                    <% }) %>
            </ul>
        </main>
    </body>

    </html>