<%- include('../partials/head') %>

    <body>
        <header>
            <%- include('../partials/nav') %>
                <h1>404 error ! Page not found </h1>
        </header>
        <main>
            <a href="/">Go back Home</a>
            <div>
                <button name="edit">EDIT</button>
                <button name="delete">DELETE</button>
        </main>
    </body>

    </html>