<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/home.css" />
</head>

<body>
    <header>
        <h1>Please enter your details</h1>
    </header>
    <main>
        <form action="/host/contact-us" method="post">
            <label>NAME: </label>
            <input type="text" name="name" placeholder="enter you name"><br>
            <label>AGE: </label>
            <input type="number" name="age" placeholder="enter your age"><br>
            <button type="submit">SUBMIT</button><br>
        </form>
    </main>

</body>

</html>