<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
    <link rel="stylesheet" href="/home.css" />
</head>

<body>
    <header>
        <h1>Thank you for sharing your details</h1>
        <p>
        <h3>we will contact us shortly</h3>
        <ul>
            
        </ul>
        </p>
    </header>
    <main>
        <a href="/">Click to return Home</a>
    </main>
</body>

</html>