<!-- navigation bar -->
<nav>
    <ul>
        <li>
            <a href="/" class="nav-link">Home</a>
        </li>
        <li>
            <a href="/host/contact-us" class="nav-link">Add User</a>
        </li>
    </ul>
</nav>
<br>
